:root {
    --bg-dark: #000;
    --bg-page:  #1c252c;
    --bg-color-btn-form: #92e5ad;
    --bg-btn: #8de1b0;
    --bg-page-carte: #1c252c;
    --bg-color-text-white: #ffffd7;
    --color-text-principal: #fff;
    --color-text-secondaire: #a09696;
    --color-text-vert: #8de1b0;
    --color-text-light: #fff;
    --color-text-drak: #000;
    --color-line-light: #333a42;
    
    --font-barlowC-medium: 'barlowCondensed-medium';
    --font-barlowC-regular: 'barlowCondensed-regular';
}


$bg-btn: #8de1b0;