$bg-btn: #8de1b0;
$color-white: #fff;
$color-error: rgb(201, 18, 18);

$text-white: #fff;
$text-grey: rgb(83,89,101);
$text-error: rgb(201, 18, 18);

$bg-black: rgb(22, 22, 22);
$bg-linear-btn: linear-gradient(90deg, rgba(180,58,143,1) 0%, rgba(69,75,252,1) 100%);

$bg-linear-black-lg: linear-gradient(0deg, rgb(83,89,101) -80%, rgb(22, 22, 22) 80%);
$bg-linear-black-small: linear-gradient(0deg, rgb(83,89,101) -80%, rgb(22, 22, 22) 130%);

$border-grey: #454647;