
// app dev
#app.development {
    min-height: 100vh;
    color: #000;
    background: #fff;
    border: 1px solid grey;

    .small {
        color: #000;
    }

    input {
        border: 1px solid grey;
    }

    .bg__lg , .bg__sm, .section__mid, .section__bot {
        background: rgb(99, 98, 98);
    // background: linear-gradient(0deg, rgb(83,89,101) -80%, rgb(22, 22, 22) 130%);
    }

    

}