// ----------- Form
.wrapper__form {
    margin-top: 15px;
    margin-bottom: 15px;

    display: flex;
    justify-content: center;
    align-items: center;

    .btn__call {
        display: inline-block;
        padding: 3px 10px;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        // box-shadow: 3px 0px 10px rgba(69,75,252,0.6);
        background: rgb(180,58,143);
        // background: linear-gradient(90deg, rgba(180,58,143,1) 34%, rgba(69,75,252,1) 100%);
        background-image: linear-gradient(to right, rgba(180,58,143,1) 0%, rgba(69,75,252,1) 50%);
        // background-image: linear-gradient(to right, #FF512F 0%, #DD2476  51%, #FF512F  100%)
        transition: 0.5s;
        background-size: 200% auto;
        outline: 0;
    }

    // .btn__call:hover {
    //     background-position: right center; 
    //     color: #fff;
    //     text-decoration: none;
    // }

    .btn__call:active {
        transform: scale(0.95);  
    }
}





.form {
    position: relative;
    margin-right: 15px;

    input {
        width: 200px;
        border: none;
        border-radius: 5px;
    }

    input:active {
        border: none;
    }

    input.error {
        border: 1px solid red;
    }

    .error__text {
        position: absolute;
        bottom: -25px;
        left: 0px;
        color: red;
        font-size: 0.8rem;
    }
}

.wrapper__lang {
    position: relative;
    background-color: rgb(22, 22, 22);
	
	// overflow: hidden; 

    select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        width: 70px;
        height: auto;
        border: none;
        padding: 3px 8px;
        border-radius: 5px;
        // overflow: hidden;
        // text-overflow: ellipsis;
        color: #fff;
        background-color: rgb(22, 22, 22);

        &:active {
            border: none;
        }

        option {
            border: none;

            &:active {
                border: none;
            }
        }
    }

    &::after {
    content: '';
	position: absolute;
	top: 50%; 
	margin-top: -3px;
	right: .75em;  
	display: block; 
	width: 0; height: 0;
	border-color: transparent;
	border-top-color: #fff; 
	border-width: 6px;
	border-style: solid;
	pointer-events: none;
    }
}

