// ----------- Form
.wrapper__form {
    margin-top: 15px;
    margin-bottom: 15px;
    padding-top: 25px;
    padding-bottom: 25px;

    display: flex;
    justify-content: center;
    align-items: center;

    .form {
        position: relative;
        margin-right: 15px;
    
        input {
            width: 200px;
            border: none;
            padding-left: 15px;
            border-radius: 25px;
        }
    
        input:active {
            border: none;
        }
    
        input.error {
            border: 1px solid $color-error;
        }
    
        .error__text {
            position: absolute;
            bottom: -25px;
            left: 0px;
            color: $text-error;
            font-size: 0.8rem;
        }
    }

    .btn__call {
        display: inline-block;
        padding: 3px 10px;
        color: $text-white;
        border: none;
        border-radius: 25px;
        cursor: pointer;
        // box-shadow: 3px 0px 10px rgba(69,75,252,0.6);
        // background: rgb(180,58,143);
        background: $bg-linear-btn;
        // background-image: linear-gradient(to right, rgb(224, 59, 175) 0%, rgba(69,75,252,1) 80%);
        // background-image: linear-gradient(to right, #FF512F 0%, #DD2476  51%, #FF512F  100%)
        // transition: 0.5s;
        // background-size: 200% auto;
        outline: 0;
    }

    // .btn__call:hover {
    //     background-position: right center; 
    //     color: #fff;
    //     text-decoration: none;
    // }

    // .btn__call:active {
    //     transform: scale(0.95);  
    // }
}

.wrapper__lang {
    position: relative;
    background-color: $bg-black;
	
	// overflow: hidden; 

    select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        width: 70px;
        height: auto;
        border: none;
        padding: 3px 8px;
        border-radius: 5px;
        // overflow: hidden;
        // text-overflow: ellipsis;
        color: $text-white;
        background-color: $bg-black;

        &:active {
            border: none;
        }

        option {
            border: none;

            &:active {
                border: none;
            }
        }
    }

    &::after {
    content: '';
	position: absolute;
	top: 50%; 
	margin-top: -3px;
	right: .75em;  
	display: block; 
	width: 0; height: 0;
	border-color: transparent;
	border-top-color: $color-white; 
	border-width: 6px;
	border-style: solid;
	pointer-events: none;
    }
}

