@import 'starter/_reboot.scss';
@import 'color.scss';
@import '_forms.scss';
@import '_loader.scss';
@import '_navbar.scss';
@import '_dev.scss';
@import '_carousel.scss';
@import 'starter/_utility.scss';

.no__File {
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    margin: 10px;
}

// --------------- Transition 'Fade'
.fade-enter-active,
.fade-leave-active {
  transition: opacity 1s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
// -------

*, button {
    outline: 0;
} 

body {
    position: relative;
    max-width: 400px;
    margin: 0 auto;
    // background: rgb(22, 22, 22);
}

#app {
    // max-width: 400px;
    margin: 0 auto;
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    // color: #2c3e50;
    // background: rgb(190, 190, 190);
    // background-color: #000;
    background: $bg-black;
    color: $color-white;
}

img {
    max-width: 100%;
    height: auto;
}

.date {
    font-size: 0.8rem;
    color: $text-grey
}

.debug {
    margin-top: 15px;
    color: #fff;
    background: #000;
}


// ----------- Section
.section {
    margin: 15px 10px;
    padding: 5px;

    border: 1px solid $border-grey;
    border-radius: 8px;
}
// ----------- Section Top
.bg__lg {
    // background: rgb(83,89,101);
    background: $bg-linear-black-lg
}


// ------------ Section Sun
.bg__sm {
    // background: rgb(59, 59, 59);
    background: $bg-linear-black-small
}
